PORT=4000
NODE_ENV=development
LOG_LEVEL=debug

# PostgreSQL Database URL
DATABASE_URL=postgresql://cv_web:cv_web_dev@localhost:5432/codevault?schema=public

# Redis URL
REDIS_URL=redis://localhost:6379

# GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Secure Keys (Must match git-service)
JWT_SECRET=
ENCRYPTION_KEY=
